<div class="cv-samples">
<h2 class="">PROJECTS</h2>
<div class="cv-sample">
    <div class="cv-sample-url">
        <a href="https://adoptpuppy.herokuapp.com">adoptpuppy.herokuapp.com</a>
    </div>
    <div class="cv-sample-desc">Bootstrapped website created with Flask as Back-end framework.</div>
</div>
<div class="cv-sample">
    <div class="cv-sample-url">
        <a href="https://jett-cycle.appspot.com">jett-cycle.appspot.com</a>
    </div>
    <div class="cv-sample-desc">Website built with AngularJS and Bootstrap.</div>
</div>
<div class="cv-sample">
    <div class="cv-sample-url">
        <a href="https://ctnx.github.io">ctnx.github.io</a>
    </div>
    <div class="cv-sample-desc">Responsive and printable online resume, built purely by HTML5 and CSS3 with SASS </div>
</div>
</div>
