<div class="cv-working-experiences">
  <h2>EXPERIENCES</h2>

  <div class="">
    <h3>Software Developer – <a href="https://rightbluelabs.com">RightBlue Labs</a>  (10/2016 - 10/2017)</h3>
    <ul>
      <li>Developed, enhanced features and API with Django in an Agile development environment.</li>
      <li>Designed and built an extendable/reusable interface for user permissions.</li>
      <li>Optimized up to 20x speed for certain API endpoints and webpages.</li>
      <li>Participated in developing a new web application using Elixir &#38; Phoenix, when partially employing Test Driven Development.</li>
    </ul>
    <br/>
  </div>

  <div class="">
    <h3> Full-stack Developer – <a href="http://www.prendz.com">Prendz</a>  (08/2016 - 10/2016)</h3>
    <ul>
      <li>Developed and released an MPV based on initial ideas and continuous feedbacks in 2 months.</li>
      <li>Architect and built a RESTful API using Django and Django Rest Framework.</li>
      <li>Designed, coded and released a mobile application for both iOS and Android using React Native; with Redux to manage the application's global state.</li>
      <li>Setup and configured Continuous Development with Amazon AWS using Elastic Beanstalk.</li>
      <li>Setup static website for marketing purposes.</li>
    </ul>
    <br/>
  </div>

  <div class="">
    <h3>Full-stack Developer – <a href="https://lokafy.com">Lokafy</a>  (05/2016 - 08/2016)</h3>
    <ul>
      <li>Developed new and enhanced existing features in Django and AngularJS using Test Driven Development</li>
      <li>Reorganized and cleaned up code base, along with writing tests for existing code, aimed at more stable performance and easier maintainability</li>
      <li>Improved and maintained development environment with Vagrant and server deployment flow</li>
    </ul>
    <br/>
  </div>
</div>
