<div class="cv-samples">
  <h2 class="">PERSONAL PROJECTS</h2>

  <div class="cv-sample">
    <div class="cv-sample-url">
      <strong><a href="https://github-visualizer.herokuapp.com">https://github-visualizer.herokuapp.com</a></strong> &#45; A basic data visualization tool for Github user.
    </div>
    <div class="cv-sample-desc">
      <p>Technology stack: AngularJS &#38; D3.js</p>
    </div>
  </div>

  <div class="cv-sample">
    <div class="cv-sample-url">
      <strong><a href="https://cinemalh.herokuapp.com">https://cinemalh.herokuapp.com</a></strong> &#45; Online tool for co-viewing &#38; sharing Youtube videos
    </div>
    <div class="cv-sample-desc">
      <p>Technology stack: React, Express, Postgres &#38; Socket.io</p></div>
  </div>
</div>
