<div class="cv-samples">
  <h2 class="">PERSONAL PROJECTS</h2>

  <div class="cv-sample">
    <div class="cv-sample-url">
      <p>
      <strong><a href="https://github-visualizer.herokuapp.com">https://github-visualizer.herokuapp.com</a></strong> &#45; A basic data visualization tool for GitHub user - built with AngularJS &#38; D3.js.
      </p>
    </div>
  </div>

  <div class="cv-sample">
    <div class="cv-sample-url">
      <p>
      <strong><a href="https://cinemalh.herokuapp.com">https://cinemalh.herokuapp.com</a></strong> &#45; Online tool for synchronized viewing &#38; sharing YouTube videos - built with React, Express, PostgreSQL &#38; Socket.io.
      </p>
    </div>
  </div>

  <div class="cv-sample">
    <div class="cv-sample-url">
      <p>
      <strong><a href="https://cuongtnx.github.io/resume/">https://cuongtnx.github.io/resume/</a></strong> &#45; Static, online resume - built with Flask &#38; Flask-frozen.
      </p>
    </div>
  </div>
</div>
