<div class="cv-technical-skills">
  <h2>SKILLS</h2>
  <div class="cv-skill-group">
    <div class="cv-skill-title">Languages: </div>
    <div class="cv-skill-details">
      <ul>
        <li>Python, JavaScript, Elixir, Ruby</li>
      </ul>
    </div>
  </div>

  <div class="cv-skill-group">
    <div class="cv-skill-title">Back-end: </div>
    <div class="cv-skill-details">
      <ul>
        <li>Django, Flask, Phoenix, Rails</li>
      </ul>
    </div>
  </div>

  <div class="cv-skill-group">
    <div class="cv-skill-title">Front-end: </div>
    <div class="cv-skill-details">
      <ul>
        <li>Bootstrap, Sass, AngularJS, React</li>
      </ul>
    </div>
  </div>

  <div class="cv-skill-group">
    <div class="cv-skill-title">Database: </div>
    <div class="cv-skill-details">
      <ul>
        <li>PostgreSQL</li>
      </ul>
    </div>
  </div>
</div>
