<div class="cv-technical-skills">
  <h2>SKILLS</h2>
  <div class="cv-skill-group">
    <div class="cv-skill-title">Languages: </div>
    <div class="cv-skill-details">
      Python, JavaScript, Elixir, Ruby
    </div>
  </div>

  <div class="cv-skill-group">
    <div class="cv-skill-title">Back-end: </div>
    <div class="cv-skill-details">
      Django, Flask, Phoenix, Rails
    </div>
  </div>

  <div class="cv-skill-group">
    <div class="cv-skill-title">Front-end: </div>
    <div class="cv-skill-details">
      Bootstrap, Sass, AngularJS, React
    </div>
  </div>

  <div class="cv-skill-group">
    <div class="cv-skill-title">Database: </div>
    <div class="cv-skill-details">
      PostgreSQL, Redis, MongoDB
    </div>
  </div>
</div>
