<div class="cv-working-experiences">
    <h2>EXPERIENCES</h2>
    <!-- exp1 -->
    <h3>Web Devleveloper Freelance (05/2015)</h3>
    <div class="">
    <ul>
        <li>Developed static websites using Flask back-end</li>
        <li>Transformed client's design into webpages using HTML5 &amp; CSS3</li>
        <li>Maintained customer relationships</li>
        <li>Delivered websites on time</li>
        <li>
        <ul>Samples:
            <li><a href="#">sample1</a></li>
            <li><a href="#">sample2</a></li>
        </ul>
        </li>
    </ul>
    </div>
    <!-- exp2 -->
    <h3>Project Scrum Master &amp; Developer – Epinion Vietnam (2014/07 – 2015/01)</h3>
    <div class="">
        <ul>
            <li>Executed the project using theories of Scrum methodology</li>
            <li>Conducted Sprint meetings, daily meetings</li>
            <li>Created JavaScript functions for project's home page</li>
            <li>Created reports by writing SQL queries and procedures</li>
        </ul>
    </div>
    <!-- exp3 -->
    <h3>Application Assistant – TRG International (06/2013 – 06/2014)</h3>
    <div class="">
    <ul>
        <li>Delivered paid services related to server migration, installation and programming based on client's ad-hoc requests</li>
        <li>Installed/ migrated databases in Microsoft Server and Infor SunSystems</li>
        <li>Delivered training for clients on Microsoft SQL Reporting Tool</li>
        <li>Wrote financial reports &amp; templates using Infor Query &amp; Analysis, Infor Application Studio &amp; Microsoft SQL Reporting Tool</li>
        <li>Automated system tasks by writing Batch and PowerShell script</li>
        <li>Wrote &amp; maintained SQL procedures</li>
    </ul>
    </div>
</div>
