<div class="cv-working-experiences">
    <h2>EXPERIENCES</h2>

    <h3>Scrum Master Assistant – Epinion Vietnam (07/2014 – 01/2015)</h3>
    <div class="">
        <ul>
            <li>Executed the project using theories from Scrum methodology</li>
            <li>Conducted Sprint meetings, daily meetings</li>
            <li>Created JavaScript functions for project's home page</li>
            <li>Created reports by writing SQL queries and procedures</li>
        </ul>
    </div>

    <h3>Application Assistant – TRG International (06/2013 – 06/2014)</h3>
    <div class="">
    <ul>
        <li>Delivered paid services related to server migration, installation and programming based on client's ad-hoc requests</li>
        <li>Installed/ migrated databases in Microsoft Server and Infor SunSystems</li>
        <li>Delivered training for clients on Microsoft SQL Reporting Tool</li>
        <li>Wrote financial reports / templates using Infor Query &amp; Analysis, Infor Application Studio and Microsoft SQL Reporting Tool</li>
        <li>Automated system tasks by writing Batch and PowerShell script</li>
        <li>Wrote &amp; maintained SQL procedures</li>
    </ul>
    </div>

    <h3>Web Administrator – Vietnam Oriental (06/2012 – 09/2012)</h3>
    <div class="">
    <ul>
        <li>Responsible for content management on company’s website.</li>
        <li>Wrote cronjobs for deleting contents when server is at limit</li>
        <li>Coordinated to build internal web project using HTML/CSS.</li>
    </ul>
    </div>
</div>
