<div class="cv-header-container">
<div class="cv-name">
    <div class="cv-firstname">CUONG</div>
    <div class="cv-lastname">NGOC TRAN</div>
</div>
<div class="cv-link">
    <div class="cv-link-detail">
        <div class="cv-link-img">
            <a href="https://ca.linkedin.com/in/cuongtran92">
                <img src="{{ url_for ('static', filename='img/in.png') }}" alt="ICO">
            </a>
        </div>
        <div class="cv-link-url">
            <a href="https://ca.linkedin.com/in/cuongtran92">ca.linkedin.com/in/cuongtran92
            </a>
        </div>
        <div class="clear-context"></div>
    </div>
    <div class="cv-link-detail">
        <div class="cv-link-img">
            <a href="https://github.com/ctnx">
                <img src="{{ url_for ('static', filename='img/github.png') }}" alt="ICO">
            </a>
        </div>
        <div class="cv-link-url">
            <a href="https://github.com/ctnx">github.com/ctnx
            </a>
        </div>
        <div class="clear-context"></div>
    </div>
    <div class="cv-link-detail">
        <div class="cv-link-img">
            <a href="https://ctnx.github.io">
                <img src="{{ url_for ('static', filename='img/web.png') }}" alt="ICO">
            </a>
        </div>
        <div class="cv-link-url">
            <a href="https://ctnx.github.io">ctnx.github.io
            </a>
        </div>
        <div class="clear-context"></div>
    </div>
    <div class="cv-contact-header">
        <div class="cv-link-img">
            <a href="tel:+16476789314">
                <img src="{{ url_for ('static', filename='img/mobile.png') }}" alt="ICO">
            </a>
        </div>
    </div>
    <div class="cv-contact-header">
        <div class="cv-link-img">
            <a href="mailto:cuongtranwm@gmail.com">
                <img src="{{ url_for ('static', filename='img/email.png') }}" alt="ICO">
            </a>
        </div>
    </div>
    <div class="clear-context"></div>
</div>
<div class="clear-context"></div>
</div>
