<div class="cv-samples">
<h2 class="">PROJECTS</h2>
<div class="cv-sample">
    <div class="cv-sample-url">
        <a href="https://onepage-contact.herokuapp.com/">onepage-contact.herokuapp.com</a>
    </div>
    <div class="cv-sample-desc">
    <p>Single page application using jQuery & Sinatra</p></div>
</div>
<div class="cv-sample">
    <div class="cv-sample-url">
        <a href="https://flashbacks.herokuapp.com/">flashbacks.herokuapp.com/</a>
    </div>
    <div class="cv-sample-desc">
    <p>Website built Sinatra as back-end framework</p></div>
</div>
<div class="cv-sample">
    <div class="cv-sample-url">
        <a href="https://jett-cycle.appspot.com">jett-cycle.appspot.com</a>
    </div>
    <div class="cv-sample-desc"><p>Web app built using AngularJS</p></div>
</div>
</div>
