<div class="cv-technical-skills">
<h2>SKILLS</h2>
<div class="cv-skill-group">
    <div class="cv-skill-title">Languages: </div>
    <div class="cv-skill-details">
        <ul>
            <li>JavaScript, Ruby, Python</li>
        </ul>
    </div>
</div>
<div class="cv-skill-group">
    <div class="cv-skill-title">Back-end: </div>
    <div class="cv-skill-details">
    <ul>
        <li>Rails, Sinatra, Express, Flask</li>
    </ul>
    </div>
</div>
<div class="cv-skill-group">
    <div class="cv-skill-title">Front-end: </div>
    <div class="cv-skill-details">
        <ul>
            <li>Bootstrap, Scss, React, Redux</li>
        </ul>
    </div>
</div>
<div class="cv-skill-group">
    <div class="cv-skill-title">Database: </div>
    <div class="cv-skill-details">
        <ul>
            <li>Postgres</li>
        </ul>
    </div>
</div>
</div>
