<div class="cv-technical-skills">
<h2>TECHNICAL SKILLS</h2>
<div class="cv-skill-group">
    <div class="cv-skill-title">Languages: </div>
    <div class="cv-skill-details">JavaScript (jQuery) / Ruby / Python</div>
</div>
<div class="cv-skill-group">
    <div class="cv-skill-title">Back-end: </div>
    <div class="cv-skill-details">Rails / Sintra / Flask</div>
</div>
<div class="cv-skill-group">
    <div class="cv-skill-title">Front-end: </div>
    <div class="cv-skill-details">HTML5 / CSS3 + Bootstrap + Scss </div>
</div>
<div class="cv-skill-group">
    <div class="cv-skill-title">Databases: </div>
    <div class="cv-skill-details">Microsoft SQL Server, PostgreSQL</div>
</div>
</div>
