<div class="cv-samples">
<h2 class="">PROJECTS</h2>
<div class="cv-sample">
    <div class="cv-sample-url">
        <strong><a href="https://onepage-contact.herokuapp.com">https://onepage-contact.herokuapp.com</a></strong> &#45; Single page application for storing contacts
    </div>
    <div class="cv-sample-desc">
    <p>Technology: jQuery, Postgres &#38; Sinatra</p></div>
</div>
<div class="cv-sample">
    <div class="cv-sample-url">
        <strong><a href="https://flashbacks.herokuapp.com">https://flashbacks.herokuapp.com</a></strong> &#45; CRUD application for storing &#38; sharing travel memories
    </div>
    <div class="cv-sample-desc">
    <p>Technology: Boostrap, jQuery, Postgres &#38; Sinatra</p></div>
</div>
<div class="cv-sample">
    <div class="cv-sample-url">
        <strong><a href="https://jett-cycle.appspot.com">https://jett-cycle.appspot.com</a></strong> &#45; Static application for biking e-commerce
    </div>
    <div class="cv-sample-desc">
        <p>Technology: AngularJS</p>
    </div>
</div>
</div>
