<div class="cv-working-experiences">
    <h2>EXPERIENCES</h2>

    <div class="">
        <h3>Full-stack Developer Intern – <a href="https://lokafy.com">Lokafy</a>  (05/2016)</h3>
        <ul>
            <li>Developed new and enhanced existing features in Django using Test Driven Development</li>
            <li>Integrated front-end and improved user experience with AngularJS</li>
            <li>Reorganized and cleaned up code base, along with writing tests for existing code, aim for more stable performance and easier maintainability</li>
            <li>Initiated, managed and maintained front-end workflow employing Npm, Bower, Gulp for a more unified codebase</li>
            <li>Setup and maintained development environment with Vagrant and server deployment with Gunicorn</li>
            <!-- more with
            <li>Redesign website</li>
            <li>Optimization</li>
            -->
        </ul>
        <br/>
    </div>

    <div class="">
        <h3>Scrum Master Assistant – Epinion Vietnam (07/2014 – 01/2015)</h3>
        <ul>
            <li>Executed the project using theories from Scrum methodology</li>
            <li>Conducted Sprint meetings, daily meetings</li>
            <li>Developed ad-hoc JavaScript for project's home page</li>
            <li>Developed reports by writing SQL queries and procedures</li>
        </ul>
        <br/>
    </div>

    <div class="">
        <h3>Application Assistant – TRG International (06/2013 – 06/2014)</h3>
        <ul>
            <li>Delivered paid services related to server migration, installation and programming based on client's ad-hoc requests</li>
            <li>Installed/ migrated databases in Microsoft Server and Infor SunSystems</li>
            <li>Delivered training for clients on Microsoft SQL Reporting Tool</li>
            <li>Developed financial reports / templates using Infor Query &amp; Analysis, Infor Application Studio and Microsoft SQL Reporting Tool</li>
            <li>Automated system tasks by writing Batch and PowerShell scripts</li>
        </ul>
        <br/>
    </div>

</div>
