{% extends 'base.html' %}
{% block title %}Cuong Tran{% endblock %}
{% block links %}
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/custom.min.css') }}">
{% endblock %}
{% block content %}
    <div class="cv">
        <div class="cv-header">
            {% include 'resume_header.html' %}
        </div>
        <div class="cv-main">
            {% include 'resume_summary.html'%}
            <div class="clear-context"></div>
            {% include 'resume_projects.html'%}
            {% include 'resume_skills.html' %}
            <div class="clear-context"></div>
            {% include 'resume_exp.html' %}
            {% include 'resume_education.html' %}
            {% include 'resume_interests.html' %}
            <div class="clear-context"></div>
            {% include 'resume_contact.html' %}
            <div class="clear-context"></div>
        </div>
        <div class="space"></div>
    </div>
{% endblock %}
