<div class="cv-samples">
<h2 class="">PROJECTS</h2>
<div class="cv-sample">
    <div class="cv-sample-url">
        <strong><a href="https://github-visualizer.herokuapp.com">https://github-visualizer.herokuapp.com</a></strong> &#45; Data visualization tool for Github user.
    </div>
    <div class="cv-sample-desc">
        <p>Technology: AngularJS &#38; D3.js</p>
    </div>
</div>
<div class="cv-sample">
    <div class="cv-sample-url">
        <strong><a href="https://cinemalh.herokuapp.com">https://cinemalh.herokuapp.com</a></strong> &#45; Online tool for sharing &#38; viewing Youtube videos
    </div>
    <div class="cv-sample-desc">
    <p>Technology: React, Redux, Node, Express, Postgres &#38; Socket.io</p></div>
</div>
<div class="cv-sample">
    <div class="cv-sample-url">
        <strong><a href="https://flashbacks.herokuapp.com">https://flashbacks.herokuapp.com</a></strong> &#45; CRUD application for writing &#38; storing travel memories
    </div>
    <div class="cv-sample-desc">
    <p>Technology: Bootstrap, jQuery, Postgres &#38; Sinatra</p></div>
</div>
</div>
